*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke--color: rgba(255, 255, 255, 0.5);
    --surface--color: rgba(255, 255, 255, 0.1);
    --surface--color-hover: rgba(255, 255, 255, 0.05);
    --social--hover: rgba(255, 255, 255, 0.2);
    --switch--: url(./assets/moon-stars.svg)
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke--color: rgba(0, 0, 0, 0.5);
    --surface--color: rgba(0, 0, 0, 0.05);
    --surface--color-hover: rgba(0, 0, 0, 0.02);
    --social--hover: rgba(0, 0, 0, 0.1);
    --switch--: url(./assets/sun.svg)
}

a{
    text-decoration: none;
}

body {
    background-image: var(--bg-url); /*Coloca a imagem como background*/
    background-repeat: no-repeat;                  /*Fazer o background nao se repetir*/
    background-position: top center;               /*Posiciona ele de modo centralizado página*/
    background-size: cover;                        /*Vai cobrir os espaços livres para que o backgr preencha tudo*/

    /* Caso queira fazer tudo em uma linha só (shorthand)*/

 /* background: color image repeat position/size
    Exemplo:
    background: url(asdas) no-repeat top center/cover   */
}

body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 360px;
    margin: 56px auto 16px;
    padding: 0px 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/*---SWITCH---*/

#switch{
    position: relative;
    width: 64px;
    
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--switch--) no-repeat center;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.light #switch button{
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface--color);
    border: 1px solid var(--stroke--color);
    border-radius: 9999px;
}


/* LINKS ---- LISTAS*/

#links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px;
}

#links li {
    background: var(--surface--color);

    border: 1px solid var(--stroke--color);
    border-radius: 8px;
    backdrop-filter: blur(4px);

    transition: background 0.2s;
}

#links li:hover {
    background: var(--surface--color-hover);
    border: 1.5px solid var(--text-color);
}

#links li a{
    display: flex;
    align-items: center;        /* altura do texto no centro*/
    justify-content: center;    /*largura do texto no centro*/
    
    padding: 16px 24px;
    font-weight: 500px;

}

/*Links ------ Sociais*/

#social{
    display: flex;
    padding: 24px 0;
    font-size: 24px;
    justify-content: center;
}

#social ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

#social a{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 16px;
    transition: background 0.2s;
}


#social ul li a:hover{
    background-color: var(--social--hover);
    
}

footer{
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}